apiVersion: hazelcast.com/v1alpha1
kind: Hazelcast
metadata:
  name: hazelcast3
spec:
  clusterSize: 3
  repository: 'docker.io/hazelcast/hazelcast-enterprise'
  version: '5.2.1'
  licenseKeySecret: hazelcast-license-key
  jvm:
    gc:
      logging: true
      collector: "G1"
      args:
        - "-XX:MaxGCPauseMillis=200"