name: Helm Chart Sync

on:
  workflow_dispatch:

jobs:
  push-new-chart-version:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Commit And Push Changes To 'Hazelcast Charts' Repository
        run: |
          git config user.email "devopshelm@hazelcast.com"
          git config user.name "devOpsHelm"
          git subtree add --prefix=charts https://github.com/hazelcast/charts.git master --squash
          git rm -r charts/stable/hazelcast-platform-operator/*
          cp -rf helm-charts/hazelcast-platform-operator/* charts/stable/hazelcast-platform-operator
          git add charts/
          if [[ ${{ github.event_name }} == 'workflow_dispatch' ]]; then
            last_commit=$(git log -1 --pretty=format:"%B")
            echo $last_commit
          else
            git commit --signoff -m "${{github.event.head_commit.message}}"
          fi
